/* #img {
    height: 125px;
    width: 150px;
    background-color: blue;
    animation: running infinite 3s ease 0s ;
}

@keyframes running {
    0%{

    }
    50%{

    }
    100%{

    }
} */


/* @keyframes slidein {
    0%{
    transform : translate(0px,200px);
    }

    50%{
    transform : translate(50px,200px);
    }

    100%{
    transform : translate(100px,200px);
    }
} */

ul {
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    font-weight: bold;
    font-size: 35px;
}

a {
    -webkit-transition: color 2s;
    transition: color 2s;
}

#li1:hover {
    color: green;
    border-right: 4px solid
}
#li2:hover {
    color: red;
    border-right: 4px solid
}
#li3:hover {
    color: blue;
    border-right: 4px solid
}


#li4:hover {
    color: brown;
    border-right: 4px solid;

}

#allCarre {
    display: flex;
    justify-content: space-evenly;
}

#carre1 {
    background-color: green;
    height: 100px;
    width: 100px;
}
#carre2 {
    background-color: red;
    height: 100px;
    width: 100px;
}
#carre3 {
    background-color: blue;
    height: 100px;
    width: 100px;
    transition: transform 0.3s ease, border-radius 0.3s ease;
}

#carre3:hover {
    transform: rotate(90deg);
    border-radius: 50%;
}

#carre4 {
    background-color: brown;
    height: 100px;
    width: 100px;
}
#carre5 {
    background-color: purple;
    height: 100px;
    width: 100px;
}